body {
  font-family: Arial, Helvetica, sans-serif;
  height: 3000px;
}
.subscribe-button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 25px;
  margin-bottom: 30px;
}
.cost-input {
  width: 180px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.calculate-button {
  background-color: green;
  color: white;
  padding: 10px 12px;
  border: none;
}
